html {
    font-size: 21.5px;
}

/* Body stsyle */
.wrapper {
    display: block;
    margin: 5em auto;
    border: 1px solid #555;
    width: 700px;
    height: 100%;
    position: relative;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
}

.label {
    height: 1em;
    padding: .3em;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    display: none;
}

.vcenter-item {
    display: flex;
    align-items: center;
}


/* Login form */
.wrapper-login {
    background-color: rgba(70, 70, 70, 0.55);
    width: 35%;
    min-height: 10%;
    left: 31.5%;
    display: block;
    top: 20%;
    position: absolute;
}

.wrapper-register {
    background-color: rgba(70, 70, 70, 0.55);
    width: 35%;
    min-height: 10%;
    left: 31.5%;
    display: block;
    top: 20%;
    position: absolute;
}

.box {
    padding: 25px;
    width: 100%;
}