<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMD | Dashboard</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/main_page_style.css">
    <link rel="stylesheet" href="css/sweetalert2.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     

  <script src=https://unpkg.com/froalacharts@1.0.0/froalacharts.js></script>
  <script src="https://unpkg.com/froalacharts@1.0.0/themes/froalacharts.theme.froala.js"></script>

  <script type="text/javascript">   
    var data = {  chart: {
    "majorTMNumber": "9",
    "minorTMNumber": "4",
    caption: "Moisture level",
    subcaption: "Item № 1",
    lowerlimit: "0",
    upperlimit: "100",
    showvalue: "1",
    numbersuffix: "%",
    theme: "froala",
    //"dataStreamUrl": ,
    "useMessageLog": "1"
  },
 /* "alerts": {     //alert popup
    "alert": [{
      // set the threshold range
      "minvalue": "90",
      "maxvalue": "99",
      // action on reaching the threshold range, JavaScript function showAlert()
      "action": "callJS",
      "param": "showAlert('Current server CPU Utilization is low');"
    }]
  },  */
  colorrange: {
    color: [
      {
        minvalue: "0",
        maxvalue: "50",
        code: "#F2726F"
      },
      {
        minvalue: "50",
        maxvalue: "75",
        code: "#FFC533"
      },
      {
        minvalue: "75",
        maxvalue: "100",
        code: "#62B58F"
      }
    ]
  },
  dials: {
    dial: [
      {
        value: "80",     // set value here 
        tooltext: "9% lesser than target" // target - value % lesser than target
      }
    ]
  },
  trendpoints: {  //maybe add a 'trend arc' instead of single line (probably for temp)
    point: [
      {
        startvalue: "37",
        displayvalue: "Min Moisture level",
        thickness: "2",
        color: "#000000",
        usemarker: "1",
        markerbordercolor: "#000000",
        markertooltext: "80%",
        trendValueDistance: "10"
      }
    ]
  }
};
            FroalaCharts.ready(function () {
            new FroalaCharts({
                id: "chart_1",
                type: 'angulargauge',
                renderAt: 'ft',
                width: '800',
                height: '500',
                dataSource: data
            }).render();
        });
    </script>
    
</head>


<body>

    <div id="ft">FroalaCharts will render here</div>

    <!--
    <%- include('header.html') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 my-3">
                    <h3 class=" control-label"> Send data : </h3>
                    <label id="advanced-checkbox">
                        <input type="checkbox" id="auto_mode_check" class='input-checkbox'/>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <p class="ml-2">To send data, enable Data Transfer and click the limit slider speed or pressure.</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 id="a_m_speed">Speed</h4>
                </div>
                <div class="col-sm-12 pb-3" id="speed_range1">
                    <span class="textDisplay">You can not set the speed or turn on send data</span>
                    <input id="speed_range" type="text" name="speed_range" value="10">
                </div>
                <div class="col-sm-12 my-1">
                    <hr>
                </div>
                <hr>
                <div class="col-sm-12">
                    <h4 id="a_m_pressure">Pressure</h4>
                </div>
                <div class="col-sm-12 pb-3" id="presser_range1">
                    <span class="textDisplay">You can not set the pressure or turn on send data</span>
                    <input id="presser_range" type="text" name="presser_range" value="50">
                </div>
            </div>
        </div>

        -->

        <!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Ion Slider -->
        <script src="js/ion.rangeSlider.min.js"></script>
        <!-- SweetAlert2 -->
        <script src="js/sweetalert2.min.js"></script>
        <!-- Toastr -->
        <script src="js/toastr.min.js"></script>
        <script async src="js/index.js"></script>
</body>

</html>